# **Iteration/Loop**

In [ ]:
#for Loop

fruits = ["apple", "banana", "cherry"]
for fruit in fruits:
  print(fruit)

apple
banana
cherry

Explanation: This loop iterates through the fruits list and assigns each element to the variable fruit. The print statement then prints the value of fruit in each iteration.

In [ ]:
#while Loop

i = 1
while i <= 5:
  print(i)
  i += 1

-1
0
1
2
3
4
5

Explanation: This loop continues to execute the block of code as long as the condition i <= 5 is true. The print statement then prints the value of i in each iteration, and the i += 1 statement increments the value of i by 1.

In [ ]:
#with Range Function

for i in range(1, 5):
  print(i)

1
2
3
4

Explanation: The range function generates a sequence of numbers from the start value (inclusive) to the stop value (exclusive). In this example, it generates the sequence 1, 2, 3, 4, which is then iterated through using a for loop. The print statement then prints the value of i in each iteration.

In [ ]:
#enumerate function:

fruits = ["apple", "banana", "cherry"]
for i, fruit in enumerate(fruits):
  print(i, fruit)

0 apple
1 banana
2 cherry

Explanation: The enumerate function returns an iterator that generates pairs of index-value pairs for a given sequence. In this example, it generates the pairs (0, "apple"), (1, "banana"), (2, "cherry"), which are then iterated through using a for loop. The print statement then prints both the index (i) and the value (fruit) in each iteration.

In [ ]:
#zip function:

fruits = ["apple", "banana", "cherry"]
colors = ["red", "yellow", "black"]
for fruit, color in zip(fruits, colors):
  print(fruit, "is", color)

apple is red
banana is yellow
cherry is black

Explanation: The zip function returns an iterator that generates tuples of corresponding elements from multiple sequences. In this example, it generates the tuples ("apple", "red"), ("banana", "yellow"), ("cherry", "black"), which are then iterated through using a for loop. The print statement then prints a message that combines the value of fruit with the value of color in each tuple.

# **Range Function (More Examples)**

In [ ]:
# Basic usage
print("Example 1:")
for i in range(5):
  print(i)

# Start and stop values
print("\nExample 2:")
for i in range(2, 7):
  print(i)

# Step value
print("\nExample 3:")
for i in range(0, 10, 2):
  print(i)

# Backward iteration
print("\nExample 4:")
for i in range(5, 0, -1):
  print(i)

# Creating lists
print("\nExample 5:")
even_numbers = list(range(0, 10, 2))
print(even_numbers)

Example 1:
0
1
2
3
4

Example 2:
2
3
4
5
6

Example 3:
0
2
4
6
8

Example 4:
5
4
3
2
1

Example 5:
[0, 2, 4, 6, 8]