In [ ]:
# Python Variables, Strings, and Numbers

## Declaring and Assigning a Variable
x = 10

## Reassigning the Value of a Variable
x = 5

In [ ]:
## Concatenating Two Strings
string1 = "Hello"
string2 = "world"
concatenated_string = string1 + " " + string2
print(concatenated_string)

Hello world

In [ ]:
## Converting a String to an Integer
string_number = "10"
integer_number = int(string_number)
print(integer_number)

10

In [ ]:
## Converting a String to a Float
string_float = "10.5"
float_number = float(string_float)
print(float_number)

10.5

In [ ]:
## Arithmetic Operations on Numbers
x = 10
y = 5
addition = x + y
subtraction = x - y
multiplication = x * y
division = x / y
modulus = x % y
exponentiation = x ** y

In [ ]:
## Finding the Length of a String
string = "Hello world"
length = len(string)
print(length)

11

In [ ]:
## String Methods
string = "Hello world"
upper_case = string.upper()
lower_case = string.lower()
capitalized = string.capitalize()

In [ ]:
## String Formatting
name = "John"
age = 30
formatted_string = "My name is {} and I am {} years old".format(name, age)
print(formatted_string)

My name is John and I am 30 years old

In [ ]:
## F-Strings (Python 3.6 and Above)
name = "John"
age = 30
formatted_string = f"My name is {name} and I am {age} years old"
print(formatted_string)

My name is John and I am 30 years old