# **Accessing Elements:**
To access a specific element in a sequence (such as a string or a list), you can use square brackets with the index of the element you want to access:
python

In [ ]:
my_list = [1, 2, 3, 4, 5]
my_string = "hello world"
print(my_list[2])   # Output: 3
print(my_string[6]) # Output: w

3
w

# **Slicing:**
You can also access a slice of elements from a sequence by specifying a start index and an end index separated by a colon inside the square brackets:

In [ ]:
my_list = [1, 2, 3, 4, 5]
my_string = "hello world"
print(my_list[1:3])      # Output: [2, 3]
print(my_string[1:5])    # Output: "ello"
print(my_string[:5])     # Output: "hello"
print(my_string[6:])     # Output: "world"
print(my_string[::2])    # Output: "hlowrd" (every other character)

[2, 3]
ello
hello
world
hlowrd

# **Concatenation:**
To concatenate two sequences together, you can use the + operator:

In [ ]:
list1 = [1, 2, 3]
list2 = [4, 5, 6]
concatenated_list = list1 + list2
print(concatenated_list) # Output: [1, 2, 3, 4, 5, 6]

string1 = "hello"
string2 = "world"
concatenated_string = string1 + " " + string2
print(concatenated_string) # Output: "hello world"

[1, 2, 3, 4, 5, 6]
hello world

# **Repetition:**
You can repeat a sequence a certain number of times by using the * operator:

In [ ]:
my_list = [1, 2, 3]
repeated_list = my_list * 3
print(repeated_list) # Output: [1, 2, 3, 1, 2, 3, 1, 2, 3]

my_string = "hello"
repeated_string = my_string * 4
print(repeated_string) # Output: "hellohellohellohello"

[1, 2, 3, 1, 2, 3, 1, 2, 3]
hellohellohellohello

# **Membership Test:**
You can check if a value is present in a sequence using the in keyword:

In [ ]:
my_list = [1, 2, 3, 4, 5]
if 3 in my_list:
    print("3 is in the list.")
else:
    print("3 is not in the list.")

my_string = "hello world"
if "hello" in my_string:
    print("hello is in the string.")
else:
    print("hello is not in the string.")

3 is in the list.
hello is in the string.

# **Length:**
You can find the length of a sequence using the built-in len() function:

In [ ]:
my_list = [1, 2, 3, 4, 5]
print(len(my_list)) # Output: 5

my_string = "hello world"
print(len(my_string)) # Output: 11

5
11

# **Sorting:**
You can sort a sequence in ascending order using the built-in sorted() function:

In [ ]:
my_list = [4, 2, 3, 1, 5]
sorted_list = sorted(my_list)
print(sorted_list) # Output: [1, 2, 3, 4, 5]

my_string = "hello world"
sorted_string = "".join(sorted(my_string))
print(sorted_string)

[1, 2, 3, 4, 5]
 dehllloorw